#time {
    position: center;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 128px;
    color: slategray;
    float: relative;
    border-radius: 20px;
    border: 1px;
    padding: 5px;
    align-items: center;
}

#points-display {
    position: center;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: slategray;
    float: relative;
    border-radius: 20px;
    border: 1px;
    position: relative;
    padding: 5px;
    align-items: center; 
}

.exercises {
    padding: 20px;
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.exercise-content {
    justify-content: space-around;
    width: 88%;
    float: right;
    display: inline-flex;
    background-color: #b3d9f8be;
    border-radius: 20px;
    border: 1px;
    border-style: outset;
    position: relative;
    padding: 5px;
    align-items: center;
}

.number {
    width: auto;
    display: inline-flex;
}

.exercise-content:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    position: absolute;
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: grey;
    left: -25px;
    top: 50%;
}

.complete-btn {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    border: 1px;
    box-shadow: 1px 1px 0px 0px;
    float: right;
    margin-top: 30%;
}
.complete-btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
    color: black;
}
.complete-btn:active {
	position:relative;
	top:1px;
}

.skip {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    }
    .skip:hover {
        background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
        background-color:#c62d1f;
    }
    .skip:active {
        position:relative;
        top:1px;
    }    

.right-btn {
    float: right;
    justify-self: flex-end;
}

.exercise-reps, .exercise-name {
    padding: 10px;
}

.done {
    background-color: #a4e271;
    color: #ffffff;
}

.skipped {
    background-color: #f24537;
    color: #ffffff;
}

#start {
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color:#89c403;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
    #start:hover {
        background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
        background-color:#77a809;
    }
    #start:active {
        position:relative;
        top:1px;
    }

#pause {
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    background-color:#ffc477;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
    }
    #pause:hover {
        background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
        background-color:#fb9e25;
    }
    #pause:active {
        position:relative;
        top:1px;
    }

#end {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    }
    #end:hover {
        background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        background-color:#378de5;
    }
    #end:active {
        position:relative;
        top:1px;
    }

progress {
  text-align: center;
  height: 1.5em;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  position:relative;
}
progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;
  position:absolute;
  left:0;
  right:0;
}        
