#progress-display {
    position: relative;
    height: 300px;
    width: 300px;
}

#timer-svg {
    fill: none;
    stroke: none;
}

#timer-circle {
    stroke-width: 5px;
    stroke:black;
}

#time {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

#time-remaining {
    stroke: blue;
    stroke-width: 5px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
}

.exercises {
    padding: 20px;
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.exercise-content {
    width: 88%;
    float: right;
    display: inline-flex;
    border-color: coral;
    background-color: lightcoral;
    border-radius: 20px;
    border: 1px solid;
    position: relative;
    padding: 5px;
    align-items: center;
}

.number {
    width: auto;
    display: inline-flex;
}

.exercise-content:before {
    content: "";
    display: block;
    width: 15px;
    height: 2px;
    position: absolute;
    background-color: black;
    left: -25px;
    top: 50%;
}

.complete-btn {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    border: 1px solid;
    float: right;
    margin-top: 30%;
}

.more {
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;

}

.skip {
    border-radius: 200px;
    border: 1px solid;
}

.right-btn {
    float: right;
}